*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    color: #1E398F;
    overflow: hidden;
}

.back_arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 12px;
    top: 7px;
    padding-top: 3px;
    background: url(../aims/images/back.svg ) no-repeat #1E398F;
    background-position: center;
    border: 1px solid #1E398F;
    border-radius: 100%;
    transition: 0.6s;
}


.back_arrow:hover {
    border: 1px solid #CEDAFF;
    background: url(../aims/images/back_hover.svg) no-repeat #CEDAFF;
    background-position: center;
    transition: 0.6s;
}

header {
    width: 151px;
    height: 1023.75px;
    background-color: #1E398F;
    border-radius: 24px;
    margin: 27.6px 0 28.65px 76px;
    padding: 30px;
}

.logo_menu {
    width: 63px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 77.8%;
    margin-left: 15px;
    color: #D3E5FF;
}

.logo {
    margin: 44.4px auto;
}

nav {

    margin: 79.17px 30px 337.8px;

}

.place {
    margin: 7px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 75px;
    list-style-type: none;
}

.logout {
    margin: 18px 22px;
}



.next_page {
    position: absolute;
    top: 1000px;
    left: 1695px;
    width: 197.81px;
    height: 59.34px;
    background: #1E398F;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    transition: 0.6s;
}

.next_page:hover {
    background: #000;
    color: #fff;
    transition: 0.6s;
}


/* main */

section {
    background-color: #F5F5F7;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: justify;
    margin-bottom: 10px;

}

.order li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 338;
    font-size: 28px;
    line-height: 33px;
}

.literature li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 338;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: -0.06em;


    font-stretch: 100;
}

.goals p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

.report li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.column1 {
    width: 935px;
    height: 997px;

    margin: 36px 32px 47px 37px;
}

section {
    margin-bottom: 35px;
    border-radius: 14px;
}

.goals {
    width: 935px;
    height: 263px;
    padding: 40px 25px;
}

section li {
    margin-left: 30px;
}

.order {
    width: 935px;
    height: 321px;
    padding: 30px 25px;
}

.order a {
    color: #1E398F;
    text-decoration: none;
    border-bottom: 1px #1E398F solid;
}

.literature {
    width: 935px;
    height: 343px;
    padding-top: 25px;

    padding-left: 38px;
}

.report li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.report {
    width: 619px;
    height: 562px;
    padding: 20px 35px 143px 12px;
    margin: 36px 71px 0 0;
}

.brain {
    position: absolute;
    top: 0px;
    left: 1052px;
}

[data-tooltip-2]::after {
    width: 120px;
    height: 40px;
    content: attr(data-tooltip-2);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 330px;
    left: 96px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-2]:hover::after {
    opacity: 1;
}

[data-tooltip-1]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-1);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 220px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-1]:hover::after {
    opacity: 1;
}

[data-tooltip-3]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-3);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 442px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-3]:hover::after {
    opacity: 1;
}

[data-tooltip-4]::after {
    width: 125px;
    height: 30px;
    content: attr(data-tooltip-4);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 555px;
    left: 89px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-4]:hover::after {
    opacity: 1;
}

[data-tooltip-5]::after {
    width: 125px;
    height: 40px;
    content: attr(data-tooltip-5);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 915px;
    left: 91px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-5]:hover::after {
    opacity: 1;
}