*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    color: #1E398F;
    overflow: hidden;
}

.back_arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 12px;
    top: 7px;
    padding-top: 3px;
    background: url(../aims/images/back.svg ) no-repeat #1E398F;
    background-position: center;
    border: 1px solid #1E398F;
    border-radius: 100%;
    transition: 0.6s;
}


.back_arrow:hover {
    border: 1px solid #CEDAFF;
    background: url(../aims/images/back_hover.svg) no-repeat #CEDAFF;
    background-position: center;
    transition: 0.6s;
}

header {
    width: 151px;
    height: 1023.75px;
    background-color: #1E398F;
    border-radius: 24px;
    margin: 27.6px 0 28.65px 76px;
    padding: 30px;
}

.logo {
    margin: 44.4px auto;
}

nav {

    margin: 79.17px 30px 337.8px;

}

.place {
    margin: 7px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 75px;
    list-style-type: none;
}

.logout {
    margin: 18px 30px;
}

/* information */
.info {
    width: 852px;
    height: 957.8px;
    display: flex;
    flex-direction: column;
    margin: 44px 26px;
}

.modulation {
    width: 852px;
    height: 263px;
    background: #F5F5F7;
    border-radius: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    padding: 45px 50px;
    margin-bottom: 19px;


}

.types {
    width: 758px;
    height: 522px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-left: 50px;
    text-align: justify;
}

p {


    padding-bottom: 35px;
}

strong {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

/* choose */
.choose {
    width: 674.67px;
    height: 882.33px;
    margin: 44px 115px 0 0;
}

.main_types {
    height: 263.62298583984375px;
    width: 674.6666870117188px;
    background: #F5F5F7;
    border-radius: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding: 60px 91px;
}

.choose img {
    position: absolute;
    margin: 19px 0 153px 337px;
    z-index: -1;
    height: 650px;
}

.ampl,
.frequency,
.phase,
.sqr {
    height: 116px;
    width: 385px;
    background: #F5F5F7;
    border-radius: 14px;
    margin-left: 144px;
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding: 25px 88px;
}

.ampl {
    margin-top: 55px;
}

.arr1,
.arr2,
.arr3 {
    width: 32.27px;
    height: 108.77px;
}

.arr1 {
    position: absolute;
    top: 435px;
    left: 1680px;
}

.arr2 {
    position: absolute;
    top: 595px;
    left: 1680px;
}

.arr3 {
    position: absolute;
    top: 747px;
    left: 1680px;
}

.next_page {
    position: absolute;
    top: 943px;
    left: 1680px;
    width: 197.81px;
    height: 59.34px;
    background: #1E398F;
    border-radius: 8px;
    border: #1E398F;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    transition: 0.6s;
}

.next_page:hover {
    background: #000;
    color: #fff;
    transition: 0.6s;
}

a.tooltip span {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 130px;
}

a.tooltip:hover span {
    display: block;
    position: absolute;
    top: 330px;
    left: 100px;
    height: 28.363636016845703px;
    width: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #1E398F;
}

a.tooltip:hover span.aaa {
    display: block;
    position: absolute;
    top: 540px;
    left: 100px;
    height: 28.363636016845703px;
    width: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #1E398F;
}