*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    color: #1E398F;
    /* overflow: hidden; */
}

.back_arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 12px;
    top: 7px;
    padding-top: 3px;
    background: url(../aims/images/back.svg ) no-repeat #1E398F;
    background-position: center;
    border: 1px solid #1E398F;
    border-radius: 100%;
    transition: 0.6s;
}


.back_arrow:hover {
    border: 1px solid #CEDAFF;
    background: url(../aims/images/back_hover.svg) no-repeat #CEDAFF;
    background-position: center;
    transition: 0.6s;
}

.logo_menu {
    width: 63px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 77.8%;
    margin-left: 15px;
    color: #D3E5FF;
}

u {
    text-decoration: none;
    border-bottom: 1px #1E398F solid;
}

header {
    width: 151px;
    height: 1023.75px;
    background-color: #1E398F;
    border-radius: 24px;
    margin: 27.6px 0px 28.65px 76px;
    padding: 30px;
}

.logo {
    margin: 44.4px auto;
}

nav {

    margin: 79.17px 30px 337.8px;

}

ul {
    display: flex;
    flex-direction: column;
    gap: 75px;
    list-style-type: none;
}

.place {
    margin: 7px;
}

.logout {
    margin: 18px 22px;
}

/* back */
.back {
    position: absolute;
    height: 945.3468017578125px;
    width: 1193.3333740234375px;
    left: -44px;
    top: 66.25311279296875px;
    border-radius: 24px;
    background: linear-gradient(180.02deg, #CFDAF0 77.37%, #1E398F 170.72%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    z-index: -1;
}

.menu {
    width: 835px;
    height: 887px;
    margin: 101px 0 92px 68px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    margin-bottom: 25px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}



/* scheme */
.scheme {
    height: 298px;
    width: 598px;
    background: linear-gradient(134.98deg, rgba(255, 255, 255, 0.485714) -7.37%, rgba(255, 255, 255, 0) 25.24%, rgba(255, 255, 255, 0.452055) 39.42%, rgba(255, 255, 255, 0.465753) 73.44%, #FFFFFF 128.74%);
    border-radius: 23px;
    margin-top: 14px;
}

#rectangle1,
#rectangle2,
#rectangle3 {
    height: 86px;
    width: 191px;
    background: rgba(30, 57, 143, 0.19);
    border-radius: 23px;
    padding: 25px 74px;

}

#rectangle1 {
    position: absolute;
    top: 223px;
    left: 324px;
}

#rectangle2 {
    position: absolute;
    top: 371px;
    left: 324px;
}

#rectangle3 {
    position: absolute;
    top: 317px;
    left: 690px;
}

.key {
    position: absolute;
    top: 246px;
    left: 515px;
}

.circle {
    padding-top: 10px;
    width: 36.56px;
    height: 34.87px;
    text-align: center;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sqr {
    padding-top: 10px;
    text-align: center;
    width: 38.38px;
    height: 36.61px;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.elements {
    width: 188.2px;
    height: 327px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 158px;
    left: 980px;
}

.elements h2 {
    width: 128px;

}

.gen1 {
    height: 83.54669952392578px;
    width: 139px;
    position: absolute;
    top: 30px;
    left: -30px;
}

.gen2 {
    height: 83.54669952392578px;
    width: 139px;
    position: absolute;
    top: 130px;
    left: -30px;

}

.oscil {
    position: absolute;
    top: 230px;
    left: -30px;
    height: 80.85164642333984px;
    width: 155px;
}

/* signal */
.get-signal {
    margin-top: 30px;

}

.get-signal h2 {
    margin-bottom: 20px;
}

.signal {
    width: 525.67px;
    height: 401.18px;
}

#canvas_1 {
    position: absolute;
    top: 585px;
    left: 343px;
}

#canvas_2 {
    position: absolute;
    top: 670px;
    left: 343px;
}

#canvas_3 {
    position: absolute;
    top: 755px;
    left: 343px;
}

#canvas_4 {
    position: absolute;
    top: 837px;
    left: 343px;
}

#canvas_5 {
    position: absolute;
    top: 900px;
    left: 343px;
}

.right_column {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 549px;
    left: 841px;
}

.stages h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.frame {
    width: 285px;
    height: 183px;
    background: linear-gradient(108.52deg, rgba(255, 255, 255, 0.485714) 19.53%, rgba(255, 255, 255, 0.452055) 38.57%, #FFFFFF 74.91%, rgba(255, 255, 255, 0) 74.91%, rgba(255, 255, 255, 0.465753) 74.91%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 27px 0 0 29px;
    gap: 8px;
}

.frame button {
    height: 27px;
    width: 110px;
    transition: 0.6s;
    border-radius: 3px;
    border: none;
    box-shadow: #828AA4;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    padding: 6px;
    color: #1E398F;
    box-shadow: 2px 2px 20px 1px #828AA4;

}

.frame button:hover {
    background: #1E398F;
    color: #fff;
    transition: 0.6s;
    border: none;
}

.frame p {
    margin: 27px 0 0 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #1E398F;
}



.slider {

    display: flex;
    flex-direction: row;


}

.first,
.second,
.third {
    display: flex;
    flex-direction: column;

}



#x {
    position: absolute;
    top: 350px;
    left: 25px;

}


#block {
    position: absolute;
}

#f {
    position: absolute;
    top: 340px;
    left: -58px;

}

#y {
    position: absolute;
    top: 350px;
    left: 125px;

}

.slider input {
    transform: rotate(-90deg);

}

#butt {
    position: absolute;
    top: 415px;
    left: -15px;
    width: 49px;
    height: 20px;
    background: #5D75C3;
    border-radius: 13.5px;
}

.what_to_do {
    margin-left: 50px;
    margin-top: 30px;
    width: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

/* infa */
.knowledge {
    margin: 45px 68px 46px 71px;
}

.information {

    width: 631px;

    margin-right: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
    width: 680px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0;
    color: #1c3381;
}

.information ul {
    margin-left: 20px;
    gap: 3px;
    list-style-type: disc;
}

ol {
    margin-left: 20px;
    gap: 3px;
}

.text {
    width: 621px;
    height: 315px;
    overflow: auto;
    background: linear-gradient(0.9deg, #CEDAFF 49.94%, rgba(206, 218, 255, 0) 127.84%);
    border-radius: 23px;
    padding: 14px 0px 0 50px;

}

.text::-webkit-scrollbar {

    width: 14.5;
    background: #B2BEE4;
}

.text::-webkit-scrollbar-thumb {
    background: #CEDAFF;
}

.text img {
    width: 500px;
}

.text p {
    width: 500px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: justify
}

/* next */
.next {

    margin-top: 33px;
    width: 455px;
    height: 118px;
    background: rgba(206, 218, 255, 0.46);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 15px 32px;
}

.next p {
    width: 273.77px;
    height: 86.21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.next_page {
    margin: 25px 0;
    width: 111.09px;
    height: 37.66px;
    background: #1E398F;
    border-radius: 8px;
    border: #1E398F;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    transition: 0.6s;
}

.next_page:hover {
    background: #000;
    color: #fff;
    transition: 0.6s;
}

.menu a {
    color: #1E398F;
    text-decoration: none;
}



#butt {
    width: 49px;
    height: 20px;
    background: #5D75C3;
    border-radius: 13.5px;
}

.one_0 {
    position: absolute;
    top: 877px;
    left: 348px;
}

.one_1 {
    position: absolute;

    left: 348px;
    top: 848px;
}



#one_zero,
#one_one,
#two_zero,
#two_one,
#three_zero,
#three_one,
#four_zero,
#four_one,
#five_zero,
#five_one {
    display: none;
}



.one_0,
.two_0,
.three_0,
.four_0,
.five_0 {
    position: absolute;
    top: 877px;

}


.one_1,
.two_1,
.three_1,
.four_1,
.five_1 {
    position: absolute;
    top: 848px;
    width: 52px;
}

.one_0 {
    position: absolute;
    top: 877px;
    left: 348px;
}

.one_1 {
    position: absolute;

    left: 348px;
    top: 848px;
}

.two_0,
.two_1 {
    left: 398px;
}

.three_0,
.three_1 {
    left: 448px;
}

.four_0,
.four_1 {
    left: 498px;
}

.five_0,
.five_1 {
    left: 548px;
}

[data-tooltip-2]::after {
    width: 120px;
    height: 40px;
    content: attr(data-tooltip-2);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 330px;
    left: 96px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-2]:hover::after {
    opacity: 1;
}

[data-tooltip-1]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-1);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 220px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-1]:hover::after {
    opacity: 1;
}

[data-tooltip-3]::after {
    width: 110px;
    height: 40px;
    content: attr(data-tooltip-3);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 442px;
    left: 100px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-3]:hover::after {
    opacity: 1;
}

[data-tooltip-4]::after {
    width: 125px;
    height: 30px;
    content: attr(data-tooltip-4);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 555px;
    left: 89px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-4]:hover::after {
    opacity: 1;
}

[data-tooltip-5]::after {
    width: 125px;
    height: 40px;
    content: attr(data-tooltip-5);
    opacity: 0;
    transition: 0, 6s;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 90%;
    text-align: center;
    color: #1E398F;
    position: absolute;
    top: 915px;
    left: 91px;
    z-index: 2;
    background: #D3E5FF;
    border-radius: 8px;
    padding: 10px 10px;
}

[data-tooltip-5]:hover::after {
    opacity: 1;
}