*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    color: #1E398F;
    overflow: hidden;
}

header {
    width: 151px;
    height: 1023.75px;
    background-color: #1E398F;
    border-radius: 24px;
    margin: 27.6px 0px 28.65px 76px;
    padding: 30px;
}

.logo {
    margin: 44.4px auto;
}

nav {

    margin: 79.17px 30px 337.8px;

}

ul {
    display: flex;
    flex-direction: column;
    gap: 75px;
    list-style-type: none;
}

.logout {
    margin: 18px 30px;
}